@model eProject3.Models.TabletMachine

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Dashboard_Layout.cshtml";

}
<div class="page-content">
<h1>Details</h1>

<div>
    <h4>TabletMachine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPressure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPressure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxDiameterMM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxDiameterMM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxDepthFillMM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxDepthFillMM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetWeightKG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetWeightKG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>
