@model IEnumerable<eProject3.Models.TabletMachine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Dashboard_Layout.cshtml";
}

<h1>Tablet Machines</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPressure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDiameterMM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDepthFillMM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetWeightKG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPressure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxDiameterMM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxDepthFillMM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetWeightKG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
